:root {
    --gridRowsColumns: 30;
    --squareSize: 20px;
    --gridColor: #000000
}

body {
    display: flex;
    justify-content: center;
}

#setup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#slider-color,
button {
    width: 94px;
    height: 30px;
    margin-top: 5px;
}

.slider-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}

p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    margin-left: 10px;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(var(--gridRowsColumns), var(--squareSize));
    grid-template-rows: repeat(var(--gridRowsColumns), var(--squareSize));
    border: 1px solid black;
}

.grid {
    border: 1px solid rgb(228, 228, 228);
}

.off {
    font-weight: bold;
    color: red;
}

.on {
    color: gray
}