:root {
    --gridRowsColumns: 30;
    --squareSize: 20px;
    --gridColor: #000000
}

body {
    display: flex;
    justify-content: center;
}

#main {
    display: flex;
    flex-direction: row;
}

#options {
    display: flex;
    flex-direction: column;
    justify-content:flex-end
}

#setup {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.slider-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 200px;
    margin-right: 10px;
}


button {
    width: 94px;
    height: 30px;
    margin-top: 5px;
}

#slider-color {
    width: 88px;
    height: 26px;
    margin-top: 5px;
}

input.slider {
    width: 150px;
}

p {
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: larger;
    margin-left: 10px;
    margin: 2px;
    
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(var(--gridRowsColumns), var(--squareSize));
    grid-template-rows: repeat(var(--gridRowsColumns), var(--squareSize));
    border: 15px solid rgba(124, 124, 124, 0.562);
    border-radius: 5px;
    
}

.grid {
    border: 1px solid rgb(228, 228, 228);
}

.off {
    font-weight: bold;
    color: red;
}

.on {
    color: gray
}