:root {
    --gridRowsColumns: 16;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(var(--gridRowsColumns), 20px);
    grid-template-rows: repeat(var(--gridRowsColumns), 20px)
}

.grid {
    border: 1px solid rgb(100, 100, 100);
}

.grid.selected {
    background-color: black;
}